.slider-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.slider-info-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 4rem;
  position: relative !important;
  top: -400px;
  margin-bottom: -425px;
}

.slider-offer-text {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slider-offer-text span {
  background: linear-gradient(90deg, #2fb85a95, #fff);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bolder;
}

.slider-title {
  margin-top: 1rem !important;
  text-transform: capitalize;
  width: 30% !important;
  line-height: 1.25 !important;
  font-weight: bolder !important;
}

.slider-price span {
  color: #d51243;
  font-size: 2rem;
  font-weight: bolder;
}

.slider-shop-button {
  background-color: #233a95;
  width: 15%;
  margin: 1rem 0;
  color: #fff;
}
