.header {
  display: flex;
  align-items: center;
  width: calc(100% - 200px) !important;
  margin-left: 200px;
  padding: 0 1rem;
  gap: 1rem;
  background-color: #f0f0f0;
}

.header-full {
  display: flex;
  align-items: center;
  width: calc(100% - 80px) !important;
  margin-left: 80px;
  padding: 0 1rem;
  gap: 1rem;
  background-color: #f0f0f0;
}

.header-left-content {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header-toggle-button,
.header-toggle-button:hover {
  background-color: #fff !important;
}

.header-search-content {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.header-search-button {
  background-color: #2bbef9;
  color: #fff;
}

.header-right-content {
  flex: 1;
}
