.sidebar {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  border: 1px solid #21212125;
}

::-webkit-scrollbar {
  width: 0.25rem;
  height: 0.25rem;
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #212121;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

.sidebar-logo-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
}

.sidebar ul li {
  font-size: 0.85rem !important;
  margin: 0 !important;
}

.sidebar ul li span {
  margin-left: 0.15rem;
}
