.main-footer {
  margin-top: 13rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-top: 1px solid #f0f0f0;
}

.main-footer img {
  width: 400px;
}
