.special-offer-content {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.special-offer-left-content,
.special-offer-right-content {
  flex: 1;
  padding: 1rem;
}

.special-offer-left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  gap: 0.25rem;
}

.special-offer-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.special-offer-title span {
  color: #d51243;
  text-decoration: underline;
}

.special-offer-text {
  color: #888;
  font-size: 0.75rem;
  line-height: 2;
  width: 70%;
}

.special-offer-right-content {
  display: flex;
  align-items: center;
}

.countdown-card {
  color: #212121;
  font-size: 1.25rem;
  width: 95px;
  text-align: center;
  border: 1px solid #212121;
}

.countdown-card div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.countdown-text {
  color: #212121;
  font-weight: bolder;
  font-size: 0.75rem;
}

.countdown-separator {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  font-weight: bolder;
  color: #212121;
}
