.shop-main-content {
  display: flex;
  flex-direction: column;
}

.shop-content {
  flex: 3;
}

.shop-banner-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop-banner-content img {
  width: 100%;
  border-radius: 0.25rem;
}

.shop-banner-info-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.shop-banner-subtitle-text {
  font-size: 1.25rem;
}

.shop-banner-title-text {
  font-weight: bold;
  font-size: 2rem;
}

.shop-banner-title-text span {
  color: #2fb85a;
}

.shop-banner-description-text {
  color: #999;
  font-size: 0.75rem;
}

.shop-listing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.shop-listing-header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  background-color: #fafafa;
  border-radius: 0.25rem;
}

.shop-listing-grid-category-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.shop-listing-grid-category-content svg {
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
}

.active-grid-view {
  color: #212121 !important;
}

.shop-listing-show-by-content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
}

.shop-listing-show-text {
  font-size: 0.85rem;
  color: #00000050;
}

.shop-listing-show-by-select div {
  background-color: transparent !important;
  border: none !important;
}

.shop-listing-show-by-select span {
  color: #212121 !important;
}

.shop-listing-pagination {
  margin: 2rem 0;
}

.shop-bottom-banner-content {
  display: flex;
  align-items: center;
  max-height: 200px;
  gap: 0.5rem;
}

.shop-banner-item-content {
  width: 32%;
  position: relative;
}

.shop-banner-item-content img {
  width: 100%;
  border-radius: 0.25rem;
}

.shop-bottom-banner-text {
  position: absolute;
  width: 42%;
  top: 45%;
  left: 1rem;
  transform: translateY(-50%);
  font-weight: bold;
  font-size: 1.5rem;
  color: #00000085;
  margin-bottom: 1rem;
}

.shop-banner-shop-now-button {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  background-color: #2fb85a;
  color: #fff;
}
