.my-account-details-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-account-details-title-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.my-account-details-form {
  padding: 1rem 0;
}

.my-account-details-button {
  background-color: #d51243;
}
